.build-group {
    .group-name {
        clear: both;
        display: block;
        font-size: 20px;
        margin-top: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .group-items {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.theme-dark {
    .build-group .group-name {
        color: #fff;
        margin-bottom: -.3em;
        padding-left: 10px;
    }
}

.theme-light {
    .build-group .group-name {
        border-bottom: 1px solid #999;
        color: #000;
    }
}
